*{box-sizing: border-box; font-family: sans-serif;}
.container{
    width: 100%;
    height: 1000px;
    background-color: antiquewhite;
}
.detail{
    width: 45%;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 900px;
    background-color: white;
    position: relative;
    left: 400px;
    top: 10px;
}
.img{
    width: 150px;
    margin: 10px;
}
.row{
    width: 35%;
    float: left;
}
.left{
    width: 40%;
    float: left;
}
.list-detail{
    width: 100%;
    float: left;
}
.content-radio{
    width: 100%;
    border: 1px solid #ccc;
    height: 30px;
}
.content-radio2{
    width: 100%;
    border: 1px solid #ccc;
    height: 200px;
    padding: 10px;
}
.content-item2{
    color:burlywood;
}
.content-item3{
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 5px;
    background: #d3b673;
    color: white;
    border: #d3b673;
}
.content-item3:active{
    color: black;
}
.number{
    padding: 5px;
}
.content-item4{
    text-align: center;
    padding: 10px;
    margin: 30px 5px;
    background: #d3b673;
    color: white;
    border: #d3b673;
}
.content-item4:active{
    color: black;
}